.dog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.dog img {
  width: 300px;
}

.top {
  position: relative;
  top: 1px;
}

.bottom {
  position: relative;
  top: -1px;
}

.top, .middle, .bottom {
  overflow: hidden;
  z-index: 1;
}

.sticky {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 2;
}

button {
  background: black;
  color: #F2EBE5;
  border: 4px solid #F2EBE5;
  border-radius: 100px;
  font-size: 18px;
  cursor: pointer;
  word-break: break-all;
  height: 48px;
  width: 48px;
  font-size: 24px;
}

button:hover {
  transform: scale(1.1);
}

.bottom-section {
  height: 40px;
}

.length-text {
  word-break: break-all;
  text-transform: uppercase;
  font-size: 160px;
  line-height: 80%;
  -webkit-text-fill-color: #F2EBE5;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: black;
}

.bg-text {
  position: fixed; 
  margin-top: 4px;
}

@media screen and (max-width: 640px) {
  .length-text {
    font-size: 80px;
  }

  .bg-text {
    margin-top: 2px;
  }
}